[main]
font=JetBrains Mono:size=13
pad=14x10 center

[cursor]
blink=yes
blink-rate=500

[mouse]
hide-when-typing=yes

[colors-dark]
# dark purple background, off-white foreground
alpha=0.85
background={{colors.bg_hex}}
foreground={{colors.fg_hex}}

# Normal colors
regular0={{colors.bg_hex}}
regular1={{colors.accent_2_hex}}
regular2={{colors.ok_hex}}
regular3=f1fa8c
regular4=80cfa9
regular5={{colors.accent_hex}}
regular6=8be9fd
regular7={{colors.fg_hex}}

# Bright colors
bright0=44475a
bright1=ff5555
bright2=b8f0c8
bright3=ffffa5
bright4=a4d8ff
bright5=ffb3d1
bright6=a4ffff
bright7=ffffff

selection-background={{colors.accent_hex}}
selection-foreground={{colors.bg_hex}}

cursor={{colors.bg_hex}} {{colors.accent_hex}}

[key-bindings]
clipboard-copy=Control+Shift+c
clipboard-paste=Control+Shift+v
font-increase=Control+equal
font-decrease=Control+minus
font-reset=Control+0
