font=Noto Sans 11
background-color={{colors.bg_alt}}ee
text-color={{colors.fg}}
border-color={{colors.accent}}
progress-color=over {{colors.accent_2}}

border-radius=12
border-size=2
padding=10,14
margin=8

anchor=top-right
max-icon-size=36
icon-path=/usr/share/icons/Papirus

default-timeout=5000
ignore-timeout=0

[urgency=low]
border-color={{colors.ok}}
default-timeout=3000

[urgency=high]
border-color={{colors.accent_2}}
default-timeout=0
