configuration {
    modi:                "drun,run";
    show-icons:          true;
    icon-theme:          "Papirus";
    drun-display-format: "{name}";
    display-drun:        "Applications";
    display-run:         "Commands";
    font:                "Noto Sans 12";
    terminal:            "foot";
    sort:                true;
    sorting-method:      "fzf";
    case-sensitive:      false;
    me-select-entry:     [ MousePrimary ];
    me-accept-entry:     [ MousePrimary ];
    hover-select:        true;
}

@theme "~/.config/rofi/theme.rasi"
